r/*
      Created by CSS Portal Layout Generator
	  
	  http://www.cssportal.com
	  	  
*/

* { padding: 0; margin: 0; }

body {
 font-family: Verdana, Arial, Helvetica, sans-serif;
 font-size: 13px;
 padding: 10px;
 background-image: url('http://www.eosdev.com/Backgrounds/Back_BankersGranite/eosbankersgranite2c.gif');

}


input[type="text"],input[type="password"],input[type="textarea"]{
/*
border:2px solid #CCCCCC;
font-family:courier;
margin-bottom:0.5em;
margin-right:0.5em;
padding:3px;
	background-color: #d6e5f4;
*/

	font-family: Arial, Sans-Serif;
        font-size: 13px;
	margin-bottom: 5px;
	display: block;
	padding: 4px;
	border: solid 1px #85b1de; 
	width: 600px;
	background-color: #EDF2F7;

}
#authorInfo table td{
	vertical-align:bottom;
}
#authorInfo input[type="text"]{

		width: 500px;
		
	}

#authorInfo input[type="submit"]{

		margin-bottom: 5px;
		padding: 2px;
		
	}

form {
  display : inline;
  }

label {
display:block;
margin-bottom:0.1em;
margin-top:1em;
font-family: cursive;

}

p {
/*adding: 10px;*/
}

#wrapper { 
 margin: 0 auto;
 width: 1000px;
 background-color: white;
 border-style:solid;
border-width:1px;
}

#content { 
 float: left;
 color: #333;
 background: #FFFFFF;
/* height: 1000px;*/
 width: 700px;
 display: inline;
 padding: 5px 5px;

}

#header {
 color: #333;
 width: 1000px;
 float: left;
 height: 120px;
 background: ;
}

#footer { 
 width: 1000px;
 height: 25px;
 clear: both;
 color: #333;
 background: ;
}

#navigation {
 float: left;
 width: 1000px;
 height: 50px;
 color: #333;
 background: ;
}

#leftcolumn { 
 color: #333;
 background: #EBE3CD;
 height: 100%;
 width: 150px;
 float: left;
}

#rightcolumn { 
 color: #333;
 background: #c1d6e3;
 height: 350px;
 width: 140px;
 float: left;
}



#rightcolumn input[type="text"]{

		width: 130px;
		
	}

#rightcolumn label{

		font-weight:bold;
		
	}

/*Credits: Dynamic Drive CSS Library */
/*URL: http://www.dynamicdrive.com/style/ */

#tabs {
	float:left;
	width:100%;
	font-size:93%;
	line-height:normal;
	border-bottom:1px solid #666;
	margin-bottom:1em; /*margin between menu and rest of page*/
	overflow:hidden;
	}

#tabs ul {
	margin:0;
	padding:10px 10px 0 0px;
	list-style:none;
	
	}

#tabs li {
	display:inline;
	margin:0;
	padding:0;
	}

#tabs a span {
	float:left;
	background:url("../images/left.png") no-repeat left top;
	margin:0;
	padding:0 0 0 6px;
	text-decoration:none;
	}
/*
#tabs a span {	
*/
#tabs  a  {
	float:left;
	display:block;
	background:url("../images/right.png") no-repeat right top;
	padding:6px 15px 4px 6px;
	margin-right:4px;
	color:#FFF;
	}
	
#tabs2 {
	float:left;
	width:100%;
	font-size:93%;
	line-height:normal;
	border-bottom:1px solid #666;
	margin-bottom:1em; /*margin between menu and rest of page*/
	overflow:hidden;
	}

#tabs2 ul {
	margin:0;
	padding:10px 10px 0 0px;
	list-style:none;
	
	}

#tabs2 li {
	display:inline;
	margin:0;
	padding:0;
	}

#tabs2 a span {
	float:left;
	background:url("../images/left.png") no-repeat left top;
	margin:0;
	padding:0 0 0 6px;
	text-decoration:none;
	}
/*
#tabs a span {	
*/
#tabs2  li  {
	float:left;
	display:block;
	background:url("../images/right.png") no-repeat right top;
	padding:6px 15px 4px 6px;
	margin-right:4px;
	color:#FFF;
	}
	
	
#tabs2 .selected {	
	
	color:#FFF;
	background:url("../images/rightselected.png") no-repeat right top;
	
}
#tabs2 a {	
	
	color:#FFF;

	
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#tabs a span {float:none;}

/* End IE5-Mac hack */
#tabs a:hover span {
	}

#tabs a:hover {
	background-position:100% -42px;
	}

#tabs a:hover span {
	background-position:100% -42px;
	}

#bookDetail{
font-family: arial,helvetica,sans-serif; font-size: 12px;
background-color:#d9e1ea;
color:#007000;
font-family:"bogus font here",monospace;
font-size:100%;
margin-bottom:1em;
overflow:auto;
width: 100;
padding: 1px;
}

#bookDetail p{
padding: 5px;
}


#authorDetail{
font-family: arial,helvetica,sans-serif; font-size: 12px;
background-color:#d9e1ea;
color:#007000;
font-family:"bogus font here",monospace;
font-size:100%;
margin-bottom:1em;
overflow:auto;
width: 100;
padding: 1px;
}

#authorDetail p{
padding: 5px;
}




#authorEdit{
font-family: arial,helvetica,sans-serif; font-size: 12px;
background-color:#d9e1ea;
color:#007000;
font-family:"bogus font here",monospace;
font-size:100%;
margin-bottom:1em;
overflow:auto;
width: 100;
padding: 1px;
}

#authorEdit p{
padding: 5px;
}


.arrowgreen{
	width: 148px; /*width of menu*/
	border-style: solid solid none solid;
	border-color: #94AA74;
	border-size: 1px;
	border-width: 1px;
}

.arrowgreen ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
	
.arrowgreen li a{
	font: bold 12px Verdana, Arial, Helvetica, sans-serif;
	display: block;
	background: transparent url(../images/arrowblue.gif) 100% 0;
  height: 24px; /*Set to height of bg image- padding within link (ie: 32px - 4px - 4px)*/
	padding: 4px 0 4px 10px;
	line-height: 24px; /*Set line-height of bg image- padding within link (ie: 32px - 4px - 4px)*/
	text-decoration: none;
}	
	
.arrowgreen li a:link, .arrowgreen li a:visited {
	color: #5E7830;
}

.arrowgreen li a:hover{
	color: #26370A;
	background-position: 100% -32px;
}

	
.arrowgreen li a.selected{
	color: #26370A;
	background-position: 100% -64px;
}
	

/* 
	Cusco Sky table styles
	written by Braulio Soncco http://www.buayacorp.com
*/

#order table, th, td {
	border: 1px solid #D4E0EE;
	border-collapse: collapse;
	font-family: "Trebuchet MS", Arial, sans-serif;
	color: #555;
}

#order caption {
	font-size: 150%;
	font-weight: bold;
	margin: 5px;
}

#order td, th {
	padding: 4px;
}

#order thead th {
	text-align: center;
	background: #E6EDF5;
	color: #4F76A3;
	font-size: 100% !important;
}

#order tbody th {
	font-weight: bold;
}

#order tbody tr { background: #FCFDFE; }

#order tbody tr.odd { background: #F7F9FC; }

#order table a:link {
	color: #718ABE;
	text-decoration: none;
}

#order table a:visited {
	color: #718ABE;
	text-decoration: none;
}

#order table a:hover {
	color: #718ABE;
	text-decoration: underline !important;
}

#order tfoot th, tfoot td {
	font-size: 85%;
}

#gradient-style
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 45px;
	width: 600px;
	text-align: left;
	border-collapse: collapse;
}
#gradient-style th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #b9c9fe url('table-images/gradhead.png') repeat-x;
	border-top: 2px solid #d3ddff;
	border-bottom: 1px solid #fff;
	color: #039;
}
#gradient-style select
{
	width: 100px;
}

#gradient-style input
{
	width: 60px;
}
#gradient-style td
{
	padding: 8px; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid #fff;
	background: #e8edff url('table-images/gradback.png') repeat-x;
}
#gradient-style tfoot tr td
{
	background: #e8edff;
	font-size: 12px;
	color: #99c;
}
#gradient-style tbody tr:hover td
{
	background: #d0dafd url('table-images/gradhover.png') repeat-x;
	color: #339;
}
#smallInput input[type="text"]{

		width: 320px;
		
	}


